.content__container
    .content__main
        .content__row
            .footer
                .footer__bottom
                    ul.list.list--h.footer__left-bottom.footer__list
                        li.footer__list-item.list__item.list__item--h КемГУ 2018
                    ul.list.list--h.footer__right-bottom
                        li.footer__list-item.list__item.list__item--h Школа финансовой грамотности пенсионеров 2.0


