extends layouts/main

block variables
    -
        var title = "Программа курса"
        var page = "courses"
block content
    .content__row.container
        .container__header
            h2.container__h2= title
        .container__body
            p.container__p
                | Образовательная программа рассчитана на 72 часа, 32 лекций и 40 практик.
            p.container__p
                | Учебный курс включает следующие темы: <br>
                | 1.	Инфляция: понятие и реальные примеры на различных рынках. <br>
                | 2.	Финансовая пирамида: кто успевает заработать, как попасть и грамотно выйти из нее, как не попасть в финансовую пирамиду <br>
                | 3.	Навязанные услуги и незаконные комиссии и сборы финансовых институтов. <br>
                | 4.	Нарушения финансовых прав: как обратиться в Роспотребнадзор и Центральный банк <br>
                | 5.	Финансовые мошенники <br>
                | 6.	Кредитные карты банков: как отказаться от навязывания или как использовать и не попасть в группу должников <br>
                | 7.	Мобильные приложения банков, личные кабинеты клиента банков <br>
                | 8.	Страхование: возможности и риски <br>
                | 9.	Пенсионный фонд: государственный или негосударственный <br>
                | 10.	Портал государственных услуг
            p.container__p
                | Целевая аудитория - лица пенсионного возраста по направлению общественных организаций, лица старше 50 лет по собственной инициативе желающие участвовать в проекте, лица с ограниченными возможностями здоровья (по согласованию) - согласно списка рассылки 250 адресов, в том числе не менее 20 общественных организаций и представительств органов власти.