extends layouts/main

block variables
    -
        var title = "О мероприятии"
        var page = "index"
block content
    .content__row.container
        .container__header
            h2.container__h2= title
        .container__body
            p.container__p
                | Программа «Школа финансовой грамотности пенсионеров. 2.0» включает все важные современные практические аспекты, необходимые для формирования реальных компетенций в области использования финансовых инструментов, для распознавания мошеннических предложений, для полноценного понимания экономической политики региона и страны.
            p.container__p
                | Образовательная программа рассчитана на 72 часа, 32 лекций и 40 практик.
            .container__img-shell.container__img-shell--full
                img.container__img(src="./img/img.jpg")
            p.container__p
                | Слушатели курса изучат инфляцию (понятие и реальные примеры на различных рынках), сущность финансовых пирамид (кто успевает заработать, как попасть, если есть желание, и как грамотно выйти из нее, как не попасть в финансовую пирамиду, если такого желания нет), что такое навязанные услуги и незаконные комиссии и сборы финансовых институтов, как бороться с нарушениями финансовых прав (как обратиться в Роспотребнадзор и Центральный банк), признаки финансового мошенничества, как пользоваться кредитными картами банков, как безопасно использовать мобильные приложения банков, личные кабинеты клиента банков, страхование (возможности и риски), принципы и перспективы выбора пенсионного фонда (государственный или негосударственный), научатся пользоваться порталом государственных услуг.
            //a.main-menu__list-button.list__item-button.button.button--red(href="/sign_up.html")
                | Подать заявку
        