extends layouts/main

block variables
    -
        var title = "Расписание занятий"
        var page = "rasp"
block content
    .content__row.container
        .container__header
            h2.container__h2= title
        .container__body
            p.container__p
                | Страница в разработке